  <!----------------- filters area ----------------->
  <section class="search_filter_add_area">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="row">
            <div class="col-12">
              <div class="Page__heading mb-0">
                <p>
                  Demographic <span class="span__slesh">/</span> <span class="span__new">New</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="save__discard__div">
                <a href="javascript:void(0);" class="third_bar_save">
                  Save
                </a>
                <a href="javascript:void(0);" class="third_bar_discard">
                  Discard
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!----------------- filters area ----------------->
  <!----------------- add area----------------->
  <section class="addAreaSection">
    <div class="col-xl-10 col-lg-10 col-md-12 mx-auto">
      <div class="add_box_card">
        <h1>
          Company Demographic
        </h1>
        <div class="add_contant_div">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-12 my-2">
                  <div class="form-group row my-0">
                    <label class="col-sm-2 col-form-label">Select Demographic Level</label>
                    <div class="col-sm-10">
                      <select class="form-control">
                        <option selected>Select</option>
                        <option>
                          Levels
                        </option>
                      </select>
                      <!-- <mat-form-field appearance="fill" class="col-sm-10">
                        <mat-label>Favorite food</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->
                    </div>
                  </div>
                </div>
                <div class="levelOneRow">
                  <div class="col-lg-12 my-2">
                    <div class="form-group row my-0">
                      <label class="col-sm-2 col-form-label">Select Demographic</label>
                      <div class="col-sm-10">
                        <select class="form-control" id="levelOne">
                          <option selected>Select</option>
                          <option>
                            Level 1
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 my-2 levelOneInput">
                    <div class="form-group row my-0">
                      <label class="col-sm-2 col-form-label">Demographic Title</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="levelOneInput">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 my-2 levelOneInput">
                    <div class="form-group row my-0">
                      <label class="col-sm-2 col-form-label">Demographic Prefix</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="levelOneInput">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 my-2 levelOneInput">
                    <div class="form-group row my-0">
                      <label class="col-sm-2 col-form-label">Geofences Value</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="levelOneInput">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 my-2">
                    <div class="form-group my-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label p-0 mt-1" for="gridCheck">
                                Is Active
                            </label>
                          </div>
                    </div>
                </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="exampleTree">
                  <ul>
                    <li>
                      <span class="level1" id="level1Select"></span>
                      <ul>
                        <li>
                          <span class="level2" id="level1Input"></span>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span class="level1" id="level2Select"></span>
                      <ul>
                        <li>
                          <span class="level2" id="level2Input"></span>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span class="level1" id="level3Select"></span>
                      <ul>
                        <li>
                          <span class="level2" id="level3OneInput"></span>
                        </li>
                        <li>
                          <span class="level2" id="level3TwoInput"></span>
                        </li>
                        <li>
                          <span class="level2" id="level3ThreeInput"></span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!----------------- add area----------------->
