<!----------------- filters area ----------------->
<section class="search_filter_add_area">
  <div class="col-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="row">
              <div class="col-12">
                  <div class="Page__heading mb-0">
                    <span>
                    Employees
                    </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!----------------- filters area ----------------->
<!----------------- add area----------------->
<section class="addAreaSection">
    <div class="col-xl-10 col-lg-10 col-md-12 mx-auto">
        <div class="add_box_card">
            <h1>
              Demographic Setup
            </h1>
            <div class="add_contant_div">
                  <div class="col-12">
                      <div class="row m-0">
                          <div class="col-lg-6 my-2">
                              <div class="form-group row my-0">
                                  <label class="col-sm-4 col-form-label">Level 1 Title</label>
                                  <div class="col-sm-8">
                                      <input class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 my-2">
                              <div class="form-group row my-0">
                                  <label class="col-sm-4 col-form-label">Level 1 Prefix</label>
                                  <div class="col-sm-8">
                                      <input class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 my-2">
                              <div class="form-group row my-0">
                                  <label class="col-sm-4 col-form-label">Geofences Value</label>
                                  <div class="col-sm-8">
                                      <input class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12 my-2">
                              <div class="form-group my-0">
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" id="gridCheck">
                                      <label class="form-check-label p-0 mt-1" for="gridCheck">
                                          Is Active
                                      </label>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 text-right mt-2">
                      <button class="saveBtnStyle saveBtn levelTwoSave levelThreeSave">
                          Save
                      </button>
                  </div>
            </div>
        </div>
    </div>
</section>
<!----------------- add area----------------->
