<!----------------- filters area ----------------->
<section class="search_filter_add_area">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-6">
            <div class="Page__heading">
              <span>
                Create Employee List
              </span>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 col-6">
            <div class="new__add__btn__div">
              <a [routerLink]="_pathLocation">
                New
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="search__filter__div">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
        <div class="other__filter">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-6">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-filter"></i>
                      Filters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Submenu action</a></li>
                          <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                          <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                              <li>
                                <select>
                                  <option>
                                    1
                                  </option>
                                  <option>
                                    2
                                  </option>
                                </select>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-cube"></i>
                      group by
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Submenu action</a></li>
                          <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                          <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-star"></i>
                      Favorites
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Submenu action</a></li>
                          <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                          <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-6">
              <div class="row">
                <div class="col-lg-4 d-none  d-xl-block"></div>
                <div class="col-xl-8 col-lg-12">
                  <div class="row">
                    <div style="visibility: hidden;"
                      class="col-lg-6 col-md-6 col-sm-6 col-4 on__desk__px_1 on__res__pr_0">
                      <div class="top__pagination">
                        <span>1-4/1</span>
                        <button>
                          <a href="javascript:void(0);">
                            <i class="fa fa-angle-left"></i>
                          </a>
                        </button>
                        <button>
                          <a href="javascript:void(0);">
                            <i class="fa fa-angle-right"></i>
                          </a>
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 on__desk__px_1">
                      <div class="list__type__btns">
                        <!-- use active class for show active -->
                        <a href="javascript:void(0);" class="g_l_Active" data-toggle="tooltip" (click)="gridActive()" title="Kanban">
                          <span>
                            <i class="fa fa-th-large"></i>
                          </span>
                        </a>
                        <a href="javascript:void(0);" class="g_l_Active" data-toggle="tooltip" (click)="listActive()" title="List">
                          <span>
                            <i class="fa fa-bars"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------------- filters area ----------------->
<!----------------- gird and list area contant area  ----------------->
<section class="grid_list_area_sideBar_area">
  <div class="col-12">
    <div class="row">

      <sider-bar class="col-lg-2 col-md-2 col-12 side_bar_component" [url]="URLz.GET_DEMOGRAPHIC_SIDE_BAR"
        sideBarName="Levels" (filterList)='filteredRecords($event)'></sider-bar>
      <div class="col-lg-10 col-md-10 col-12 ml-auto grid__view__col">
        <div class="grid__view__div">
          <div class="row">
            <div *ngFor="let item of this._tbls[URLz.GET_ALL_EMPLOYEE].gridViewResult"
              class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12  mb-3 px-2 gri_list_dBoxes hrmanager">
              <a href="javascript:void(0);" (click)="_switch(item.id)">
                <div class="card_style">
                  <div class="col-7">
                    <div class="card_text_contant">
                      <p class="m-0">{{item?.demographicLevelTitle}}</p>
                      <p class="m-0">{{item?.demographicPrefix}}</p>
                      <p class="m-0">{{item?.parentName}}</p>
                      <p class="m-0">{{item?.title}}</p>
                    </div>
                  </div>
                  <div class="col-1 px-0">
                    <div class="card_status_time">
                      <span>
                        <i class="fa fa-circle-o"></i>
                      </span>
                      <span>
                        <i class="fa fa-clock-o"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-12 ml-auto p-0 list__view__col d-none">
        <div class="list__view__div table-responsive">
          <div class="mat_table">
            <table class="col-lg-12 col-md-12 col-12" mat-table matSort
              [dataSource]="_tbls[URLz.GET_ALL_EMPLOYEE].dataSource" style="box-shadow: none;"
              (matSortChange)="_sort($event, URLz.GET_ALL_EMPLOYEE)">
              <ng-container matColumnDef="id">
                <th style="width: 40px" mat-header-cell *matHeaderCellDef>{{'No.'}}</th>
                <td mat-cell *matCellDef="let item; let i = index">
                  {{i + (_tbls[URLz.GET_ALL_EMPLOYEE].index * _tbls[URLz.GET_ALL_EMPLOYEE].size) + 1}}
                </td>
              </ng-container>
              <ng-container matColumnDef="employee_name">
                <th class="pl-3" mat-header-cell *matHeaderCellDef> {{'Employee Name'}} </th>
                <td class="px-3" mat-cell *matCellDef="let item"> {{ item?.employeeName }} </td>
              </ng-container>
              <ng-container matColumnDef="employee_address">
                <th class="pr-3" mat-header-cell *matHeaderCellDef>
                  {{'Employee Address'}}
                </th>
                <td class="px-3" mat-cell *matCellDef="let item"> {{ item?.address }} </td>
              </ng-container>
              <ng-container matColumnDef="employee_email">
                <th mat-header-cell *matHeaderCellDef>{{'Employee Email'}}</th>
                <td class="pr-3" mat-cell *matCellDef="let item">
                  {{ item?.email }}
                </td>
              </ng-container>
              <ng-container matColumnDef="empolyee_no">
                <th mat-header-cell *matHeaderCellDef>{{'Employee No'}}</th>
                <td class="pr-3" mat-cell *matCellDef="let item">
                  {{ item?.mobileNumber }}
                </td>
              </ng-container>
              <ng-container matColumnDef="created_date">
                <th mat-header-cell *matHeaderCellDef>{{'Created Date'}}</th>
                <td class="pr-3" mat-cell *matCellDef="let item">
                  {{ item?.createdDate | date:'shortDate'}}
                </td>
              </ng-container>
              <ng-container matColumnDef="modified_date">
                <th mat-header-cell *matHeaderCellDef>{{'Modified Date'}}</th>
                <td class="pr-3" mat-cell *matCellDef="let item">
                  {{ item?.modifiedDate | date:'shortDate'}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="this._tbls[URLz.GET_ALL_EMPLOYEE].columns; sticky:true">
              </tr>
              <tr mat-row *matRowDef="let row; columns: this._tbls[URLz.GET_ALL_EMPLOYEE].columns;" (click)="_switch(row.id)"></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-12 ml-auto">
        <di-paginator [tbl]="_tbls[URLz.GET_ALL_EMPLOYEE]"
          (paginateEvent)="_refresh(URLz.GET_ALL_EMPLOYEE)"></di-paginator>
      </div>
    </div>
  </div>
</section>
<!----------------- gird and list area contant area  ----------------->