<section class="dashBoasrd__sec">
  <div class="dashBoasrd__sec__divs">
      <div class="col-8 mx-auto">
          <div class="row">
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                  <a class="dashBoasrd__sec_anchor" href="listPage.html">
                      <img class="o_app_icon rounded" src="../../../assets/images/odo/1.svg">
                      <p>
                          Company
                          <br>
                          Management
                      </p>
                  </a>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                  <a class="dashBoasrd__sec_anchor" href="javascript:void(0);" [routerLink]="'/Personal_Management/personalManagementDashboard'">
                      <img src="../../../assets/images/odo/2.svg">
                      <p>
                          personnel
                          <br>
                          management
                      </p>
                  </a>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                  <a class="dashBoasrd__sec_anchor" href="listPage.html">
                      <img src="../../../assets/images/odo/3.svg">
                      <p>
                          user
                          <br>
                          Management
                      </p>
                  </a>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                  <a class="dashBoasrd__sec_anchor" href="listPage.html">
                      <img src="../../../assets/images/odo/4.svg">
                      <p>
                          Work
                          <br>
                          flow
                      </p>
                  </a>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                  <a class="dashBoasrd__sec_anchor" href="listPage.html">
                      <img src="../../../assets/images/odo/5.svg">
                      <p>
                          attendance
                          <br>
                           Management
                      </p>
                  </a>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                  <a class="dashBoasrd__sec_anchor" href="listPage.html">
                      <img src="../../../assets/images/odo/6.svg">
                      <p>
                          leave
                          <br>
                          Management
                      </p>
                  </a>
              </div>

              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                  <a class="dashBoasrd__sec_anchor" href="listPage.html">
                      <img src="../../../assets/images/odo/7.png">
                      <p>
                          payroll
                          <br>
                           Management
                      </p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
