      <!----------------- filters area ----------------->
      <section class="search_filter_add_area">
        <div class="col-12">
           <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                 <div class="row">
                    <div class="col-12">
                       <div class="Page__heading mb-0">
                          <p>
                             User <span class="span__slesh">/</span> <span class="span__new">New</span>
                          </p>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-12">
                       <div class="save__discard__div">
                          <a href="javascript:void(0);" class="third_bar_save">
                          Save
                          </a>
                          <a href="javascript:void(0);" class="third_bar_discard">
                          Discard
                          </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!----------------- filters area ----------------->
     <!----------------- add area----------------->
     <section class="addAreaSection">
        <div class="col-xl-10 col-lg-10 col-md-12 mx-auto">
           <div class="add_box_card">
              <h1>
                 Create User
              </h1>
              <div class="add_contant_div">
                 <div class="col-12">
                    <div class="row m-0">
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">User name</label>
                             <div class="col-sm-9">
                                <input class="form-control">
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">Employee</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Select</option>
                                   <option>
                                      ESS
                                   </option>
                                   <option >
                                      MSS
                                   </option>
                                   <option >
                                      Admin
                                   </option>
                                   <option >
                                      Sys Admin
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">User type</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Select</option>
                                   <option>
                                      Manager
                                   </option>
                                   <option>
                                      IT – Support
                                   </option>
                                   <option>
                                      ESS Users
                                   </option>
                                   <option>
                                      MSS Users
                                   </option>
                                   <option>
                                      MSS Users
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">Roll</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Select</option>
                                   <option>
                                      System
                                   </option>
                                   <option>
                                      Active Directory
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">demographic level</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Select</option>
                                   <option>
                                      System
                                   </option>
                                   <option>
                                      Active Directory
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">demographic value</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Multi Select</option>
                                   <option>
                                      System
                                   </option>
                                   <option>
                                      Active Directory
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">orgnaizational level</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Select</option>
                                   <option>
                                      System
                                   </option>
                                   <option>
                                      Active Directory
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">orgnaizational value</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Multi Select</option>
                                   <option>
                                      System
                                   </option>
                                   <option>
                                      Active Directory
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">account type</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Select</option>
                                   <option>
                                      System
                                   </option>
                                   <option>
                                      Active Directory
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">Approval required</label>
                             <div class="col-sm-9">
                                <select class="form-control" id="levelTwo">
                                   <option selected>Select</option>
                                   <option>
                                      System
                                   </option>
                                   <option>
                                      Active Directory
                                   </option>
                                </select>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">Password</label>
                             <div class="col-sm-9">
                                <input class="form-control">
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                             <label class="col-sm-3 col-form-label">Confirm Password</label>
                             <div class="col-sm-9">
                                <input class="form-control">
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6 my-2">
                          <div class="form-group row my-0">
                              <label class="col-sm-3 col-form-label">Password on email</label>
                              <div class="col-sm-9">
                                <div class="check_radio_div">
                                   <input class="form-check-input" type="checkbox" id="gridCheck">
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 my-2">
                       <div class="form-group row my-0">
                           <label class="col-sm-3 col-form-label">Is Active</label>
                           <div class="col-sm-9">
                             <div class="check_radio_div">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                             </div>
                           </div>
                       </div>
                   </div>
                    </div>
                 </div>
                 <!-- <div class="col-12 text-right mt-2">
                    <button class="saveBtnStyle saveBtn levelTwoSave levelThreeSave">
                        Save
                    </button>
                    </div> -->
              </div>
           </div>
        </div>
     </section>
     <!----------------- add area----------------->
