<!----------------- filters area ----------------->
<section class="search_filter_add_area">
<div class="col-12">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-6">
                <div class="Page__heading">
                  <span>
                  Employees
                  </span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-6">
                <div class="new__add__btn__div">
                  <a href="addone.html">
                  New
                  </a>
                </div>
            </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
          <div class="search__filter__div">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-text">
                <i class="fa fa-search"></i>
                </span>
            </div>
          </div>
          <div class="other__filter">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-12 col-sm-6">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-filter"></i>
                            Filters
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li class="dropdown-submenu">
                                  <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                    <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                          <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                          <li>
                                              <select>
                                                <option>
                                                    1
                                                </option>
                                                <option>
                                                    2
                                                </option>
                                              </select>
                                          </li>
                                        </ul>
                                    </li>
                                  </ul>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cube"></i>
                            group by
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li class="dropdown-submenu">
                                  <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                    <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                          <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                          <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                        </ul>
                                    </li>
                                  </ul>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-star"></i>
                            Favorites
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li class="dropdown-submenu">
                                  <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                    <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                          <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                          <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                        </ul>
                                    </li>
                                  </ul>
                              </li>
                            </ul>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-6">
                  <div class="row">
                      <div class="col-lg-4 d-none  d-xl-block"></div>
                      <div class="col-xl-8 col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-4 on__desk__px_1 on__res__pr_0">
                              <div class="top__pagination">
                                  <span>1-4/1</span>
                                  <button>
                                  <a href="javascript:void(0);">
                                  <i class="fa fa-angle-left"></i>
                                  </a>
                                  </button>
                                  <button>
                                  <a href="javascript:void(0);">
                                  <i class="fa fa-angle-right"></i>
                                  </a>
                                  </button>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 on__desk__px_1">
                              <div class="list__type__btns">
                                  <a href="javascript:void(0);" class="g_l_Active active" onclick="gridActive();">
                                    <span>
                                    <i class="fa fa-th-large"></i>
                                    </span>
                                  </a>
                                  <a href="javascript:void(0);" class="g_l_Active" onclick="listActive();">
                                    <span>
                                    <i class="fa fa-bars"></i>
                                    </span>
                                  </a>
                                  <a href="javascript:void(0);">
                                    <span>
                                    <i class="fa fa-clock-o"></i>
                                    </span>
                                  </a>
                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
</section>
<!----------------- filters area ----------------->
<!----------------- gird and list area contant area  ----------------->
<section class="grid_list_area_sideBar_area">
<div class="col-12">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-12 side_bar_tabs">
            <div class="side_bar_tabs_div">
                <p class="side_bar_tabs_heading">
                    <span>
                        <i class="fa fa-users"></i>
                    </span>
                    DEPARTMENT
                </p>
                <div class="side_bar_tab_here">
                    <div>
                        <a href="javascript:void(0);" class="sideTabs active showAll">
                          <span>
                            All
                          </span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="sideTabs showOnliAmin">
                            <span>
                                Administration
                            </span>
                            <span>
                                2
                            </span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="sideTabs showOnliHR">
                            <span>
                                HR
                            </span>
                            <span>
                                1
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-12 ml-auto grid__view__col">
            <div class="grid__view__div">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12  mb-3 px-2 gri_list_dBoxes hrmanager">
                        <a href="javascript:void(0);">
                            <div class="card_style">
                                <div class="col-4 px-0">
                                    <img src="../../../../assets/images/user/user1.jpg" class="img-fluid">
                                </div>
                                <div class="col-7">
                                    <div class="card_text_contant">
                                        <p class="m-0">Adil</p>
                                        <p class="m-0">HR Manager</p>
                                        <p class="m-0">manager</p>
                                        <p class="m-0">adil.adil@school.com</p>
                                        <p class="m-0">+92 21 34609032</p>
                                    </div>
                                </div>
                                <div class="col-1 px-0">
                                    <div class="card_status_time">
                                        <span>
                                            <i class="fa fa-circle-o"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12  mb-3 px-2 gri_list_dBoxes admin">
                        <a href="javascript:void(0);">
                            <div class="card_style">
                                <div class="col-4 px-0">
                                    <img src="../../../../assets/images/user/user3.jpg" class="img-fluid">
                                </div>
                                <div class="col-7">
                                    <div class="card_text_contant">
                                        <p class="m-0">Adil</p>
                                        <p class="m-0">HR Manager</p>
                                        <p class="m-0">manager</p>
                                        <p class="m-0">adil.adil@school.com</p>
                                        <p class="m-0">+92 21 34609032</p>
                                    </div>
                                </div>
                                <div class="col-1 px-0">
                                    <div class="card_status_time">
                                        <span>
                                            <i class="fa fa-circle-o"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12  mb-3 px-2 gri_list_dBoxes admin">
                        <a href="javascript:void(0);">
                            <div class="card_style">
                                <div class="col-4 px-0">
                                    <img src="../../../../assets/images/user/user2.png" class="img-fluid">
                                </div>
                                <div class="col-7">
                                    <div class="card_text_contant">
                                        <p class="m-0">Adil</p>
                                        <p class="m-0">HR Manager</p>
                                        <p class="m-0">manager</p>
                                        <p class="m-0">adil.adil@school.com</p>
                                        <p class="m-0">+92 21 34609032</p>
                                    </div>
                                </div>
                                <div class="col-1 px-0">
                                    <div class="card_status_time">
                                        <span>
                                            <i class="fa fa-circle-o"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12  mb-3 px-2 gri_list_dBoxes">
                        <a href="javascript:void(0);">
                            <div class="card_style">
                                <div class="col-4 px-0">
                                    <img src="../../../../assets/images/user/user1.jpg" class="img-fluid">
                                </div>
                                <div class="col-7">
                                    <div class="card_text_contant">
                                        <p class="m-0">Adil</p>
                                        <p class="m-0">HR Manager</p>
                                        <p class="m-0">manager</p>
                                        <p class="m-0">adil.adil@school.com</p>
                                        <p class="m-0">+92 21 34609032</p>
                                    </div>
                                </div>
                                <div class="col-1 px-0">
                                    <div class="card_status_time">
                                        <span>
                                            <i class="fa fa-circle-o"></i>
                                        </span>
                                        <span>
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-12 ml-auto p-0 list__view__col d-none">
          <div class="list__view__div table-responsive">
            <table class="list__view__div__table">
                <tr>
                    <th>
                      <input type="checkbox">
                    </th>
                    <th>Employee Name</th>
                    <th>Work Phone</th>
                    <th>Work Email</th>
                    <th>First Contract Date</th>
                    <th>Activities</th>
                    <th>Next Activity Deadline</th>
                    <th>Department</th>
                    <th>Job Position</th>
                    <th>Manager</th>
                    <th>
                      <i class="fa fa-exchange"></i>
                    </th>
                </tr>
                <tr class="gri_list_dBoxes hrmanager">
                  <td>
                    <input type="checkbox">
                  </td>
                  <td>
                      Amin
                  </td>
                  <td>
                    +92 21 34605824
                  </td>
                  <td>
                    amin.amin@school.com
                  </td>
                  <td>

                  </td>
                  <td>
                    <i class="fa fa-clock-o"></i>
                  </td>
                  <td></td>
                  <td>
                      HR
                  </td>
                  <td>
                    HR Manager
                  </td>
                  <td>
                    BOSS
                  </td>
                  <td></td>
                </tr>
                <tr class="gri_list_dBoxes admin">
                <td>
                  <input type="checkbox">
                </td>
                <td>
                    BOSS
                </td>
                <td>
                  +92 21 34605824
                </td>
                <td>
                  boss.boss@school.com
                </td>
                <td>

                </td>
                <td>
                  <i class="fa fa-clock-o"></i>
                </td>
                <td></td>
                <td>
                    HR
                </td>
                <td>
                    SENIOR HR DIRECTOR
                </td>
                <td>
                  BOSS
                </td>
                <td></td>
                </tr>
                <tr class="gri_list_dBoxes admin">
                  <td>
                  <input type="checkbox">
                  </td>
                  <td>
                      Mohtashim Ismail
                  </td>
                  <td>
                  +92 21 34605824
                  </td>
                  <td>
                      MohtashimIsmail@school.com
                  </td>
                  <td>

                  </td>
                  <td>
                  <i class="fa fa-clock-o"></i>
                  </td>
                  <td></td>
                  <td>
                      Administration
                  </td>
                  <td>

                  </td>
                  <td>
                  Amin
                  </td>
                  <td></td>
                </tr>
                <tr class="gri_list_dBoxes">
                  <td>
                  <input type="checkbox">
                  </td>
                  <td>
                      Usama
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>

                  </td>
                  <td>
                  <i class="fa fa-clock-o"></i>
                  </td>
                  <td></td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td></td>
                </tr>
            </table>
          </div>
      </div>
    </div>
</div>
</section>
<!----------------- gird and list area contant area  ----------------->
