<!----------------- filters area ----------------->
<section class="search_filter_add_area">
    <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-6">
                    <div class="Page__heading">
                      <span>
                      Demographic Setup List
                      </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-6">
                    <div class="new__add__btn__div">
                      <a [routerLink]="_pathLocation">
                          New
                      </a>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
              <div class="search__filter__div">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-text">
                    <i class="fa fa-search"></i>
                    </span>
                </div>
              </div>
              <div class="other__filter">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-6">
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-filter"></i>
                                Filters
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li class="dropdown-submenu">
                                      <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                              <li>
                                                  <select>
                                                    <option>
                                                        1
                                                    </option>
                                                    <option>
                                                        2
                                                    </option>
                                                  </select>
                                              </li>
                                            </ul>
                                        </li>
                                      </ul>
                                  </li>
                                </ul>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cube"></i>
                                group by
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li class="dropdown-submenu">
                                      <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                      </ul>
                                  </li>
                                </ul>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-4 on__desk__px_1">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-star"></i>
                                Favorites
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="#">Action</a></li>
                                  <li><a class="dropdown-item" href="#">Another action</a></li>
                                  <li class="dropdown-submenu">
                                      <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                            <ul class="dropdown-menu">
                                              <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                                              <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                      </ul>
                                  </li>
                                </ul>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-12 col-sm-6">
                      <div class="row">
                          <div class="col-lg-4 d-none  d-xl-block"></div>
                          <div class="col-xl-8 col-lg-12">
                            <div class="row">
                                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-4 on__desk__px_1 on__res__pr_0">
                                  <div class="top__pagination">
                                      <span>1-4/1</span>
                                      <button>
                                      <a href="javascript:void(0);">
                                      <i class="fa fa-angle-left"></i>
                                      </a>
                                      </button>
                                      <button>
                                      <a href="javascript:void(0);">
                                      <i class="fa fa-angle-right"></i>
                                      </a>
                                      </button>
                                  </div>
                                </div> -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6 on__desk__px_1">
                                  <div class="list__type__btns">
                                      <a href="javascript:void(0);">
                                        <span>
                                        <i class="fa fa-clock-o"></i>
                                        </span>
                                      </a>
                                  </div>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</section>
  <!----------------- filters area ----------------->
  <!----------------- gird and list area contant area  ----------------->
  <section class="grid_list_area_sideBar_area">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 ml-auto p-0 list__view__col">
              <div class="list__view__div table-responsive">
                <div class="mat_table">
                  <table
                    class="col-lg-12 col-md-12 col-12"
                    mat-table matSort [dataSource]="_tbls[URLz.GET_ALL_PMDEMOGRAPHIC_LIST].dataSource" style="box-shadow: none;"
                    (matSortChange)="_sort($event, URLz.GET_ALL_PMDEMOGRAPHIC_LIST)">
                    <ng-container matColumnDef="id">
                      <th style="width: 40px" mat-header-cell *matHeaderCellDef>{{'No.'}}</th>
                      <td mat-cell *matCellDef="let item; let i = index">
                        {{i + (_tbls[URLz.GET_ALL_PMDEMOGRAPHIC_LIST].index * _tbls[URLz.GET_ALL_PMDEMOGRAPHIC_LIST].size) + 1}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <th class="pl-3" mat-header-cell *matHeaderCellDef>
                        <i class="fas fa-redo text-info pointer px-2"
                          (click)="_reset(URLz.GET_ALL_PMDEMOGRAPHIC_LIST);_refresh(URLz.GET_ALL_PMDEMOGRAPHIC_LIST)"></i>
                        <i class="fa fa-search text-info pointer px-2" (click)="_refresh(URLz.GET_ALL_PMDEMOGRAPHIC_LIST)"></i>
                      </th>
                      <td class="" mat-cell *matCellDef="let item">
                        <i  class="fa fa-edit text-info px-2 pointer" (click)="_switch(item.id)"></i>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="company_id">
                      <th class="text-center" mat-header-cell *matHeaderCellDef> {{'Company Id'}} </th>
                      <td class="px-3" mat-cell *matCellDef="let item">
                        {{item?.companyId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="demographic_level_id">
                      <th class="pl-3" mat-header-cell *matHeaderCellDef> {{'Demographic Level Id'}} </th>
                      <td class="px-3" mat-cell *matCellDef="let item"> {{item?.demographicLevelId}} </td>
                    </ng-container>
                    <ng-container matColumnDef="demo_graphic_title">
                      <th class="pr-3" mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='before'>
                          {{'Demo Graphic Title'}}
                      </th>
                      <td class="px-3" mat-cell *matCellDef="let item"> {{item?.demographicTitle}} </td>
                    </ng-container>
                    <ng-container matColumnDef="demo_graphic_prefix">
                      <th mat-header-cell *matHeaderCellDef>{{'Demo Graphic Prefix'}}</th>
                      <td class="pr-3" mat-cell *matCellDef="let item">
                        {{item?.demographicPrefix}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="parent_id">
                      <th mat-header-cell *matHeaderCellDef>{{'Parent Id'}}</th>
                      <td class="pr-3" mat-cell *matCellDef="let item">
                        {{item?.parentId}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="geofences_value">
                      <th mat-header-cell *matHeaderCellDef>{{'Geofences Value'}}</th>
                      <td class="pr-3" mat-cell *matCellDef="let item">
                        {{ item?.geofencesValue}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="is_active">
                      <th mat-header-cell *matHeaderCellDef>{{'Is Active'}}</th>
                      <td class="pr-3" mat-cell *matCellDef="let item">
                        {{ item?.isActive}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="created_date">
                      <th mat-header-cell *matHeaderCellDef>{{'Created Date'}}</th>
                      <td class="pr-3" mat-cell *matCellDef="let item">
                        {{ item?.createdDate  | date:'shortDate'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="modified_date">
                      <th mat-header-cell *matHeaderCellDef>{{'Modified Date'}}</th>
                      <td class="pr-3" mat-cell *matCellDef="let item">
                        {{ item?.modifiedDate  | date:'shortDate'}}
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="this._tbls[URLz.GET_ALL_PMDEMOGRAPHIC_LIST].columns; sticky:true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: this._tbls[URLz.GET_ALL_PMDEMOGRAPHIC_LIST].columns;"></tr>
                  </table>
                </div>
                <!-- <di-paginator [tbl]="_tbls[URLz.GET_ALL_PMDEMOGRAPHIC_LIST]" (paginateEvent)="_refresh(URLz.GET_ALL_PMDEMOGRAPHIC_LIST)"></di-paginator> -->
              </div>
            </div>
        </div>
    </div>
  </section>
  <!----------------- gird and list area contant area  ----------------->
