<section class="login__section">
  <div class="container">
     <div class="row">
        <div class="login-box mx-auto pt-4">
           <div class="login-key">
              <img src="../../../assets/images/logo/main.png">
           </div>
           <div class="login-title">
              Login
           </div>
           <div class="login-form">
              <div class="login-form">
                 <form>
                    <div class="form-group">
                       <!-- Email Address -->
                       <div>
                          <label class="form-control-label">
                          Email
                          </label>
                          <input >
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="form-control-label">
                       Password
                       </label>
                       <input type="password">
                    </div>
                    <div class="loginbttm">
                       <a routerLink="/MasterDashboard" class="btnmain">
                       Log in
                       </a>
                    </div>
                    <div>
                       <p class="m-0 text-center">
                        Powered by  Optimize Technologies
                       </p>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
