.addAreaSection{
    padding: 10px;
}
.addAreaSection .add_box_card{
    border: 1px solid #C9CCD2;
    background: white;
    box-shadow: 0px 4px 10px -5px #000000b5;
}
.addAreaSection .add_contant_div{
    padding: 10px 0px;
}
.addAreaSection .add_contant_div label{
    color: #575757;
    font-weight: 600;
    padding: 7px 0px;
}
.addAreaSection .add_contant_div input,
.addAreaSection .add_contant_div select{
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #C9CCD2;
    color: #575757;
    /* transition: 0.3s; */
}
.addAreaSection .add_contant_div input[disabled],
.addAreaSection .add_contant_div select[disabled]{
    background: transparent !important;
    border-bottom: 1px solid transparent !important;
}
.addAreaSection .add_contant_div input:hover,
.addAreaSection .add_contant_div select:hover{
    border-bottom: 2px solid var(--other-and-btn-colors);
}
.addAreaSection .add_contant_div input:focus,
.addAreaSection .add_contant_div select:focus{
    box-shadow: 0px 0px 0px transparent;
    border-bottom: 2px solid var(--other-and-btn-colors);
}
.addAreaSection .add_contant_div select option[disabled]{
    background: #eeeeee;
}
.addAreaSection .saveBtnStyle{
    background: var(--other-and-btn-colors);
    color: white;
    text-transform: uppercase;
    padding: 7px 15px;
    font-size: 15px;
    border: 0px;
    transition: 0.5s;
}
.addAreaSection .saveBtnStyle:hover{
    background: var(--other-and-btn-colors-dark);   
}
.addAreaSection .add_box_card h1{
    border-bottom: 1px solid #C9CCD2;
    font-size: 20px;
    color: #575757;
    font-weight: 300 !important;
    padding: 8px 15px;
}
.exampleTree{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.exampleTree ul{
    padding: 0px;
    list-style: none;
    margin: 0px;
    width: 100%;
}
.exampleTree ul li span{
    font-size: 20px;
    text-transform: capitalize;
}
.exampleTree ul li span i{
    margin-right: 10px;
    font-size: 10px;
}
.exampleTree ul li .level1{
    width: 100%;
    display: flex;
    align-items: center;
    background: #edeaea;
    padding-left: 20px;
}
.exampleTree ul li .level2{
    padding-left: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #f6f7fa;
}
.addAreaSection .form-check{
    display: flex;
    align-items: center;
}