<form [formGroup]="_fs._form" (ngSubmit)="submit()"   autocomplete="off">
    <!----------------- filters area ----------------->
    <section class="search_filter_add_area">
      <div class="col-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="row">
                  <div class="col-12">
                    <div class="Page__heading mb-0">
                        <p>
                          Marital Status <span class="span__slesh">/</span> <span class="span__new">New</span>
                        </p>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                    <div class="save__discard__div">
                        <button type="submit " class="third_bar_save save_btn">
                          Save
                        </button>
                        <a href="javascript:void(0);" class="third_bar_discard">
                          Discard
                        </a>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!----------------- filters area ----------------->
    <!----------------- add area----------------->
    <section class="addAreaSection">
        <div class="col-xl-10 col-lg-10 col-md-12 mx-auto">
            <div class="add_box_card">
              <h1>
                  Marital Status
              </h1>
              <div class="add_contant_div">
                    <div class="col-12">
                          <div class="row m-0">
                              <div class="col-lg-6 my-2">
                                <div class="form-group row my-0">
                                      <label class="col-sm-4 col-form-label">Marital Status Title</label>
                                      <div class="col-sm-8">
                                          <input class="form-control" formControlName="maritalStatusTitle">
                                          <mat-error *ngIf="_fs._form.get('maritalStatusTitle')?.touched" > {{  _vs.errMsg('maritalStatusTitle')}}</mat-error>
                                      </div>
                                </div>
                              </div>
                              <div class="col-lg-6 my-2">
                                <div class="form-group row my-0">
                                      <label class="col-sm-4 col-form-label">Marital Status Prefix</label>
                                      <div class="col-sm-8">
                                          <input class="form-control" formControlName="maritalStatusPrefix">
                                          <mat-error *ngIf="_fs._form.get('maritalStatusPrefix')?.touched" > {{  _vs.errMsg('maritalStatusPrefix')}}</mat-error>
                                      </div>
                                </div>
                              </div>
                              <div class="col-lg-12 my-2">
                                <div class="form-group my-0">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" formControlName="IsActive">
                                    <label class="form-check-label p-0 mt-1" for="gridCheck">
                                       Is Active
                                    </label>
                                    <mat-error *ngIf="_fs._form.get('IsActive')?.touched" > {{  _vs.errMsg('IsActive')}}</mat-error>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
              </div>
            </div>
        </div>
    </section>
    <!----------------- add area----------------->
</form>
