      <!----------------- nav ----------------->
      <nav class="navbar navbar-expand-lg navbar_1">
        <a class="navbar-brand" href="javascript:void(0);">
          <span class="nav_svg_span">
            <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 14 14">
              <g fill="currentColor" id="o_menu_toggle_row_0">
                <rect width="4" height="4" x="0" y="0"></rect>
                <rect width="4" height="4" x="5" y="0"></rect>
                <rect width="4" height="4" x="10" y="0"></rect>
              </g>
              <g fill="currentColor" id="o_menu_toggle_row_1">
                <rect width="4" height="4" x="0" y="5"></rect>
                <rect width="4" height="4" x="5" y="5"></rect>
                <rect width="4" height="4" x="10" y="5"></rect>
              </g>
              <g fill="currentColor" id="o_menu_toggle_row_2">
                <rect width="4" height="4" x="0" y="10"></rect>
                <rect width="4" height="4" x="5" y="10"></rect>
                <rect width="4" height="4" x="10" y="10"></rect>
              </g>
            </svg>
          </span>
        </a>
        <a class="navbar-brand d-none d-lg-block d-xl-block" href="javascript:void(0);">
          Employee
        </a>
        <ul class="navbar-nav ml-auto d-flex d-lg-none d-xl-none">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
              <span class="menu_site_name">
                Optimise
              </span>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-window-maximize"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/Personal_Management/employee/employee_list'">
                Employees
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Reporting</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configuration
              </a>
              <ul class="dropdown-menu brop_ul" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item head_item" href="javascript:void(0);">Bank</a>
                </li>
                <li>
                  <a class="dropdown-item " [routerLink]="'/Personal_Management/banks/bank_add'">Bank</a>
                </li>
                <li>
                  <a class="dropdown-item head_item" href="javascript:void(0);">Demographic</a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/demographic/demo_graphic_list'">
                    Demographic Setup
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/demographic/org_list'">
                    Organization
                  </a>
                </li>
                <li>
                  <a class="dropdown-item head_item" href="javascript:void(0);">Employee</a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/designation_list'">
                    Designation
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/employee_category_list'">
                    Employee Category
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/gender_list'">
                    Gender
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/marital_satus_list'">
                    Marital Satus
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/policy_defined_list'">
                    Policy Defined
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/religion_list'">
                    Religion
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/weekly_off_list'">
                    Weekly off
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/gazetted_holidays'">
                    Gazetted Holidays
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/qualification_level_list'">
                    Qualification Level
                  </a>
                </li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Bank</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/banks/bank_add'">
                        Bank
                      </a>
                    </li>
                  </ul>
                </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Demographic</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/demographic/demo_graphic_list'">
                        Demographic Setup
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/demographic/org_list'">
                        Organization
                      </a>
                    </li>
                  </ul>
                </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Employee</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/designation_list'">
                        Designation
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/employee_category_list'">
                        Employee Category
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/gender_list'">
                        Gender
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/marital_satus_list'">
                        Marital Satus
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/policy_defined_list'">
                        Policy Defined
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/religion_list'">
                        Religion
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/weekly_off_list'">
                        Weekly off
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/gazetted_holidays'">
                        Gazetted Holidays
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="'/Personal_Management/employee/qualification_level_list'">
                        Qualification Level
                      </a>
                    </li>
                  </ul>
                </li> -->
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav d-none d-lg-flex d-xl-flex">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                <i class="fa-classic fa-clock-four"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                <span class="menu_user_symbol">U</span>
                User
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);">
                <span class="menu_site_name">
                  Optimise
                </span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <button class="back__black__btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="responsive_side_bar collapse" id="navbarSupportedContent">
        <div class="user_name_close_divs">
          <div class="user_name_div">
            <a href="javascript:void(0);">
              <span class="menu_user_symbol">U</span>
              User
            </a>
          </div>
          <div class="close_div">
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span>
                <i class="fa fa-close"></i>
              </span>
            </button>
          </div>
        </div>
        <div class="listing__side__bar">
          <ul>
            <li>
              <a href="javascript:void(0);" class="first_lvl">
                Employees
              </a>
              <ul>
                <li>
                  <a href="javascript:void(0);" class="second_lvl">
                    Employees
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="second_lvl">
                    Contracts
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="second_lvl">
                    All Contracts
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascrip:void(0);" class="first_lvl">
                Departments
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="first_lvl">
                Reporting
              </a>
              <ul>
                <li>
                  <a href="javascript:void(0);" class="second_lvl">
                    Contracts
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);" class="first_lvl">
                Configuration
              </a>
              <ul>
                <li>
                  <a href="javascript:void(0);" class="second_lvl">
                    Settings
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="second_lvl">
                    Employee
                  </a>
                  <ul>
                    <li>
                      <a href="javascript:void(0);" class="third_lvl">
                        Departments
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" class="third_lvl">
                        Work Locations
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" class="third_lvl">
                        Departure Reasons
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:void(0);" class="second_lvl">
                    Recruitment
                  </a>
                  <ul>
                    <li>
                      <a href="javascript:void(0);" class="third_lvl">
                        Job Positions
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);" class="third_lvl">
                        Employment Types
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!----------------- nav ----------------->
